body {
    padding-top: 50px;
    background-color: #eee;
}

.principal {
    padding: 40px 15px;
    text-align: center;
}

.my-selection {
    max-width: 300px;
    margin-bottom: 50px; 
}

.my-selection-input:focus {
    border-color: rgba(239,61,77,.8);
    outline: 0;
    outline: thin dotted \9;
    -moz-box-shadow: 0 0 8px rgba(239,61,77,.2);
    box-shadow: 0 0 8px rgba(239,61,77,.2) !important;
}

.carousel-icon {
    margin-top: 300px;
}

.display {
    max-width: 80%;
    max-height: 20vh;
    margin-left: 10%;
    margin-bottom: 4px;
    text-align: center;
    margin: 20px;
    border: 1px dotted black;
    padding: 3px;
}

.carousel-control.left, .carousel-control.right {
    background-image: -webkit-radial-gradient(circle at center, rgba(0,0,0,.0001) 0,rgba(0,0,0,.1) 100%);
    background-image: -o-radial-gradient(circle at center, rgba(0,0,0,.0001) 0,rgba(0,0,0,.1) 100%);
    background-image: radial-gradient(circle at center, rgba(0,0,0,.0001) 0,rgba(0,0,0,.1) 100%);
}

.content-text {
    max-width: 700px;
    text-align: justify;
}